.navbar {
    display: flex;
    align-items: center;
    padding: 31px 117px; 
}

.logo {
    border: 3px solid #1a73e8; /* Blue border */
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33ccff; /* Cyan circle */
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    box-sizing: border-box;
    font-family: "Anek Devanagari", sans-serif;
  }

.nav-links {
    display: flex;
    gap: 30px;
    margin-left: auto;

  }

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Anek Devanagari", sans-serif;
  }

.nav-links a:hover{
    text-decoration: underline;
    color: goldenrod;
  }

.container {
    display : flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;
  }

.text-section {
    max-width: 600px;
}

.intro {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0px -5px 0px;
    font-family: "Anek Devanagari", sans-serif; 
}

#p_style{
     font-family: "Anek Devanagari", sans-serif;
}

h1 {
    margin:-20px 0 -20px 0;
    font-size: 40px;
    font-family: "Anek Devanagari", sans-serif; 
}

.contact-button{
    background-color: #f04a41;
    color: white;
    border: none;
    padding: 10px 10px; 
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-family: "Anek Devanagari", sans-serif;
}

.stats {
  display: flex;
  gap: 13px;
  font-family: "Anek Devanagari", sans-serif;
}


.stat-box {
  background-color: #d9d9d9;
  min-width: 15px;
  padding: 10px 15px;
  text-align: center;
  margin-top: 20px;
  border-radius: 4px;
}

.stat-number {
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}

.stat-label {
  font-size: 10px;
  margin: 0;
  text-transform: uppercase;
  color: #4f4f4f;
  margin: 3px 0 0 0;
  font-weight: 600;
}

.image-placeholder {
    background-color: #d9d9d9;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    border-radius: 20px;
    height: 318px;
    width: 300px;
    margin-left: 119px;
}

.container_2 {
  background-color: white;
  max-width: 1000px;
  width: 100%;
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  margin: 0 auto;
}

.left {
  position: relative;
  left: -64px;
  top: 1px;
  height: 300px;
  width: 300px;
  background-color: #c2c2c2;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
}

.social-icons {
  position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    background: white;
    padding: 5px 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.15);
    border-radius: 4px;
}

 .social-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .right {
    max-width: 450px;
    position: relative;
    left: 58px;
  }

  .right h2 {
    font-weight: 700;
    margin: 0 0 15px 0;
    font-size: 22px;
    color: #222930;
    font-family: "Anek Devanagari", sans-serif;
  }
  .right p {
    color: #676767;
    line-height: 1.5;
    margin: 0 0 15px 0;
    font-size: 14px;
    font-family: "Anek Devanagari", sans-serif;
  }
  .buttons {
    display: flex;
    gap: 15px;
  }
  .btn-primary {
    background-color: #7e22ce;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }
  .btn-secondary {
    background: none;
    border: 1px solid #7e22ce;
    color: #7e22ce;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .btn-secondary svg {
    width: 14px;
    height: 14px;
  }

  .container_3 {
      background-color: #eef3d9;
      position: relative;
      top: 20px;
      margin: 0 auto;
      width: 100%;
      height: 300px;
      color: rgb(0, 0, 0);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px;
  }

   h2.section-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Anek Devanagari", sans-serif;
  }
  
  .skills-container {
    background: #ffffff63;
    border-radius: 10px;
    padding: 9px 30px;
    display: flex;
    gap: 36px;
    align-items: center;
    max-width: 720px;
    margin-bottom: 60px;
    justify-content: center;
  }
  
  .skills-container img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
  }